body {
  text-align: center;
}

h1 {
  font-size: 3em;
  color: rgba(255,100,0,0.6);
  font-family: arial sans-serif;
}

form {
  background-color: grey;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 5px 5px #000;
}

form input {
  border-radius: 10px;
  border-style: none;
  padding: 5px;
  width: 50%;
}

form label {
  font-size: 1em;
  padding: 5px;
  color: white;
}

button {
  padding: 5px;
}
